<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pessoas</title>
</head>
<body>
    <h1>Página Principal</h1 ><br>
    <!-- <button onclick="document.location='default.asp'">HTML Tutorial</button><br> -->
    <a href="/pessoa/getall">Listar todos os cadastros<br><br><br></a>
    <a href="">Realizar uma consulta<br><br><br></a>
    <a href="">Cadastrar<br><br><br></a>
    <a href="">Excluir cadastro<br><br><br></a>
    <a href="">Atualizar cadastro<br><br><br></a>
    <a href="/relatorio/1">Gerar relatório 1<br><br><br></a>
    <a href="/relatorio/2">Gerar relatório 2<br><br><br></a>

    <br>
    <form action="" method = "get">
        <br><br><br><label for="">Realizar uma consulta:</label><br>
        
        <label for="">CPF:</label><br>
        <input type="text" name="cpf" required><br>
        <button>Consultar</button>
    </form>

    <br>
</body>
</html>